<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Add your favorite club to the dashboard and receive notifications when they’re playing.">
    <title>Overhoorbot</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>

    <main class="content-container">
        {{{ body }}}

    </main>
  </body>

  <script src="/js/client.js"></script>

</html>
